<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="los"
         connectionString="Server=fmc-online.nl; Port=3306; 
              Database=qb306340_los-d; Uid=qb306340_los-d; Pwd=dev-los;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>